*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;

}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index:1000;
}

header h1 {
text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
}

nav ul li {
    margin: 0 1rem;

}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

main {
    padding: 120px 20px 40px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}


.card img {
    width: 100px;
    border-radius: 50%;

}

.card h2 {
 margin-top: 10px;
}

.card h3 {
    color: gray;
}

.card p {
    margin: 10px 0;
}

.card .socials a {
    margin-right: 10px;
    text-decoration: none;
    font-size: 1.2rem;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0, 6px 15px rgba(0,0,0,0.2);
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

@media(max-width:768px){
    .team {
        flex-direction: column;
        align-items: center;
    }
}